.mobileProfile {
    display: none;
}

.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    overflow: hidden;
}

.profile {
    width: 15rem;
    height: 30rem;
    margin: 10px;
    padding: 10px;
    border-radius: 30px;
    border-style: dotted;
    flex-shrink: 0;

    -webkit-transition: height 0.5s linear;
    -moz-transition: height 0.5s linear;
    -ms-transition: height 0.5s linear;
    -o-transition: height 0.5s linear;
    transition: height 0.5s linear;
}

.profile #profileSummary {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.context {
    flex-grow: 1;
    padding: 10px;
    overflow-y: auto;
}

.backToHome {
    position: absolute;
    left: 3rem;
    top: 30rem;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.backToHome.hideBackToHome {
    display: none;
}

@keyframes profileAnimation {
    from {
        transform: translateY(0);
        opacity: 1
    }

    to {
        transform: translateY(-30px);
        opacity: 0;
        height: 0px;
    }
}

@keyframes profileAnimationReverse {
    from {
        transform: translateY(-30px);
        opacity: 0;
        height: 0px;
    }

    to {
        transform: translateY(0);
        opacity: 1
    }
}

@media only screen and (max-width: 420px) {
    .container {
        flex-direction: column;
    }

    .profile {
        height: 25rem;
        width: 100%;
        margin: 0px;
        overflow: hidden;
    }

    .profile div.mobileProfile {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    @keyframes minimize {
        from {
            transform: translateX(0);
        }

        to {
            transform: translate(0%, -23%) scale(0.5);
        }
    }

    @keyframes maximize {
        from {
            transform: translate(0%, -23%) scale(0.5);
        }

        to {
            transform: translateX(0);
        }
    }

    .backToHome {
        top: 0;
        left: 0;
    }

    .backToHome.minimize {
        transform: translate(0%, -23%) scale(0.5);
        animation: 0.3s minimize ease-in;
    }

    .backToHome.maximize {
        animation: 0.3s maximize ease-in;
    }

    .hamburger {
        display: block;
        position: absolute;
        right: 0px;
        top: 1.5rem;
        transform: translate(-20px, -50%);
        cursor: pointer;
        align-self: flex-end;
    }

    .line {
        height: 3px;
        width: 30px;
        background-color: black;
        margin: 5px;
    }

    .hide {
        -webkit-transition: height 0.5s linear;
        -moz-transition: height 0.5s linear;
        -ms-transition: height 0.5s linear;
        -o-transition: height 0.5s linear;
        transition: height 0.5s linear;
        height: 3rem;
    }

    .hideSection {
        animation: profileAnimation 0.3s ease forwards;
    }

    .showSection {
        animation: profileAnimationReverse 0.3s ease backwards 0.3s;
    }
}